# Database configuration
DB_NAME=postgres
DB_USER=apiserver
DB_PASSWORD=hello123
DATABASE_HOST=db
DATABASE_PORT=5432

# API configuration  
BASE_URL=http://localhost:8000/clever-miner
FRONTEND_URL=http://localhost:3000

# S3 Storage
USE_S3_STORAGE=false
AWS_BUCKET_NAME=your-bucket-name
AWS_BUCKET_REGION=your-bucket-region
AWS_ACCESS_KEY=your-access-key
AWS_SECRET_ACCESS_KEY=your-secret-access-key

# Google OAuth
GOOGLE_OAUTH_CLIENT_ID=your-client-id
GOOGLE_OAUTH_CLIENT_SECRET=your-client-secret
GOOGLE_OAUTH_CALLBACK_URL=http://localhost:8000/clever-miner/auth/google/callback/